.convert10 textarea {
    resize: none;
    width: 100%;
    height: 95%;
    font-size: 14px;
    padding: 0% 1%;
}

.convert10 button {
    margin-top: 4%;
    margin-left: 87%;
}

.badge {
    margin-left: 2%;
}