#windowsLogIn {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#windowsLogIn img {
    width: 12%;
    margin-bottom: 1%;
}

#windowsLogIn p {
    color: whitesmoke;
    font-family: "Noto Sans Newa";
    margin: 1% 0;
    font-size: 22px;
    text-shadow: 2px 2px 10px black;
}

#windowsLogIn input {
    border: 3px solid grey;
    background-color: whitesmoke;
    border-radius: 0px;
    width: 25%;
    padding: 3px 5px;
}