body {
	background-color: rgba(0, 150, 255, 0.25);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 50%;
	margin: 0 auto;
}

.computer {
	background-color: #333;
	border: 10px solid #444;
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	width: 800px;
	height: 500px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#screen {
	border: none;
	background-color: #000;
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
	border-top: 5px solid #555;
	background-size: cover;
}

.main-logo {
	margin: 2% 0;
}

.cfpt-logo {
	--SIZE: 160px;
	/* position: absolute;
	top: 25%;
	left: 85%; */
	/* transform: translate(-50%, -50%); */
	width: var(--SIZE);
	/* border-radius: 100%; */
	/* background-color: #eaecedc7; */
	/* box-shadow: #494949 0px 3px 13px 1px; */
}